
.header {
    @include mobileText;
    background-color: $lightBlack;
    color: white;
    display: flex;
    height: 80px;
    flex-direction: column;
    text-align: center;
    &__first {
        margin-top: 16px;
    }

    &__second {
        padding-top: 10px
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
    }

   

    li {
       width: 50%;
        // a {
        //     width: 160px;
        // &:hover {
        //     border-bottom: 4px solid white;
        //     padding-bottom: 6px;
        // }
        &:active {
            border-bottom: 4px solid white;
            padding-bottom: 6px;
        }
      

      }
    // }

    @include tablet {
        flex-direction: row;
        align-items: center;
        &__first {
            margin: 0 30px;
        }

        &__second {
            padding-top: 0;
        }

        li {
            width: auto;
            margin: 30px;
            // padding-bottom: 2rem;

            // a {
            //     padding-bottom: 30px;
            // }
            // &:hover {
            //     border-bottom: 4px solid white;
            //     padding-bottom: 25px;
            }
            &:active {
                border-bottom: 4px solid white;
                padding-bottom: 6px;
            }
        }
    }

    @include desktop {
        &__first {
            margin: 0 0 0 180px;
        }
        
        li {
            margin:0 0 0 56px;
        }
    }
}