
.hero {
    &__image  {
    background-image: url(../assets/concert-1.jpg);
    background-size: cover; 
    background-position: center;
    height: 183px;
    width: 100%;
    display: flex;
    align-items: center;

        &-heading {
            color: white;
            margin: 0;
            width: 250px;
            margin-left: 1rem;

        }

        @include tablet {
            @include heroText;
            height: 400px;
            width: 100%;

              &-heading {
                  min-width: 500px;
                  margin-left: 24px;
              }
        }


        @include desktop {
            @include heroText;
            height: 670px;
            width: 100%;

              &-heading {
                  min-width: 500px;
                  margin-left: 180px;
              }
        }

    }

}