
.footer {
    @include mobileText;
    color: $white;
    margin-left: 10px;
    
    p {
        font-weight: lighter;
    }
    
    &__logo {
        display: none;
    }

    &__icon{
        &--margin {
            margin-right: 1rem;
        }
    }

    &__heading {
        padding: 1.5rem 0 1rem 0;
    }

    &__three {
        padding-bottom: 20px;
        max-width: 220px;

    }

    @include tablet {
        @include tabletText;
        margin: 0 1.5rem 0;

        &__one {
            display: flex;
            align-items: baseline; 
            justify-content: space-between;    
        }

        // &__heading {
        //     // padding: 2rem 2rem 0 0;
        // }

        &__icon {
            padding-right: 4rem;
        }

        &__logo {
            display: unset;
        }

        &__two {
            @include tabContactFont;
            display: flex;
            justify-content: space-between;
        }

        &__three {
            @include tabContactFont;
            max-width: unset
        }
    }

    @include desktop {
        @include tabletText;
        margin: auto 180px;

        &__one {
            display: flex;
            justify-content: space-between; 
            align-items: baseline;     
        }

        &__heading {
            padding: 0;
            &--margin {
                margin: 0;
                padding: 3rem 0 3.5rem 0;
            }
        }

        &__icon {
            margin-right: 25rem;

            &--margin {
               margin-right: 2rem;
            }
        }

        &__two {
            display: flex;
            justify-content: flex-start;
            
            &-left {
              @include footerTwoMrg;
            }

            &-mid {
                @include footerTwoMrg;
            }

            &-right {
                @include footerTwoMrg;
            }
           
        }

        &__three {
            margin-top: 2.5rem;
            padding-bottom: 1.75rem;
        }

        &__logo {
            &-size {
            width: 120px;
            height: 24px;
            }
        }

    }

}

            

        
       
        

        
      


       

        
        

   
