// ===========main-start=========================
.main {
    @include mobileText;
    font-weight: normal;
    background-color: $white;

    &__heading {
        margin: 2rem 0 1.5rem 1rem;
    }

    //  ============about-the-musicians-start==========   
    .about {
        margin: auto 1rem;
        display: flex;
        flex-direction: column;

        &__image {
            width: 100%;
            height: 30vh;
            background: $backgroundColor;
        }

        &__quote {
            margin: 1.5rem 0 2rem 0;
        }
        
        &__artist {
            margin: 0 0 2.5rem 0;
        }

        &__both-artist {
            margin: 0;
        }

        &__para-one {
            margin: 1.5rem 0;
        }

        &__bottom {
            margin-bottom: 2.5rem;
        }
        
    }


        @include tablet {
            @include tabletText;
            &__heading {
                margin: 2rem 0 1.5rem 1.5rem;
            }
            .about {
                margin: auto 1.5rem;

                &__image {
                    width: 100%;
                    height: 362px;
                }

                &__para {
                    display: flex;

                    &-one {
                        @include tabParaFont;
                    }

                    &-two {
                        margin: 1.5rem 0 1.5rem 1.5rem;
                        @include tabParaFont;
                    }


                }

            }
        }    
     
        @include desktop {
            @include tabletText;

            &__heading {
                margin: 3rem 0 3rem 11.25rem;
            }
            
                .about {
                    margin: auto 17rem;

                    &__image {
                        width: 100%;
                        height: 28.13rem;
                    }

                    &__quote {
                        margin: 3rem 0 2.5rem 0;
                    }

                    &__artist {
                        margin: 0 0 3.5rem 0;
                    }

                    &__para {
                        &-one {
                            margin:2rem 20px 3rem 0;
                            @include tabParaFont;
                        }

                        &-two {
                            margin:2rem 0 3rem 20px;
                            @include tabParaFont;
                        }

                    }

                }

            }
     //  ============about-the-musicians-end==========   
     
  
    
    // ================gallery-start============

    .gallery {
        background-color: $offWhite;
        font-weight: bold;

        &__album {
            margin: 0 1rem 0;
        }

        &__photos {
            display: flex;
            flex-direction: column;
            padding-bottom: 1rem;

            &-size{
                width: 100%;
                margin-bottom: 1rem;
                background: $backgroundColor;
                &:hover {
                    filter: grayscale(50%);
                }
            }

        }

        &__heading {
            margin: 0;
            font-weight: bold;
            padding: 2rem 0 1.5rem 0;
        }

        @include tablet {
            @include tabletText;

            &__album {
                margin: 0;
            }

            &__photos {
                margin: auto 3.125vw;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
            
                    &-size{
                        width: 29.166vw;
                        height: 16.406vw;
                        margin-bottom: 1.5rem;
                        }

            }

            &__heading {
                margin-left: 1.5rem; 
            }

        }

            @include desktop {
                @include tabletText;
                &__heading {
                    margin-left: 12.5vw;
                    padding: 3rem 0 4rem;
                    }

                &__photos {
                    margin: 0 12.5vw 0;
            
                    &-size{
                        width: 23.888vw;
                        height: 13.402vw;
                        margin-bottom: 1.5rem;
                        }

                }

            }

    }
    

    

            //   ===============close-for-main=====================
}