
.hero {
    background-color: $backgroundColor;
    &__image  {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2))
    , url(../assets/concert-1.jpg);
    filter: contrast(120%);
    background-size: cover; 
    background-position: top center;
    height: 30vh;
    display: flex;
    align-items: center;

    }

    &__image-heading {
        color: white;
        margin: 0;
        width: 250px;
        margin-left: 1rem;
        animation: slide-fade 1s ease-in-out forwards;
    }

    // ====================tablet-start=======================
    
    @include tablet {
        @include heroText;
        &__image {
        height: 400px;
        }


        &__image-heading {
            width: 500px;
            margin-left: 24px;
        }
    }

// ==================desktop-start===============================

    @include desktop {
        @include heroText;
        &__image {
        height: 670px;
        }
        
        &__image-heading {
            width: 500px;
            margin-left: 180px;
        }
    }
}

