html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #323232;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro1';
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.header {
  background-color: #323232;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header h1 {
  font-size: 24px;
  line-height: 32px;
}

.header h2 {
  font-size: 14px;
  line-height: 22px;
}

.header h4 {
  font-size: 13px;
  line-height: 18px;
}

.header p {
  font-size: 13px;
  line-height: 18px;
}

.header h5 {
  font-size: 12px;
  line-height: 20px;
}

.header__first {
  margin-top: 16px;
}

.header__second {
  padding-top: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header li {
  width: 50%;
}

.header li:active {
  border-bottom: 4px solid white;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__first {
    margin: 0 30px;
  }
  .header__second {
    padding-top: 0;
  }
  .header li {
    width: auto;
    margin: 30px;
  }
  .header li:hover {
    border-bottom: 4px solid white;
    padding-bottom: 25px;
  }
  .header li:active {
    border-bottom: 4px solid white;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .header__first {
    margin: 0 0 0 180px;
  }
  .header li {
    margin: 0 0 0 56px;
  }
}

.footer {
  color: white;
  margin-left: 10px;
}

.footer h1 {
  font-size: 24px;
  line-height: 32px;
}

.footer h2 {
  font-size: 14px;
  line-height: 22px;
}

.footer h4 {
  font-size: 13px;
  line-height: 18px;
}

.footer p {
  font-size: 13px;
  line-height: 18px;
}

.footer h5 {
  font-size: 12px;
  line-height: 20px;
}

.footer__logo {
  display: none;
}

.footer__icon--margin {
  margin-right: 1rem;
}

.footer__heading {
  padding: 1.5rem 0 1rem 0;
}

.footer p {
  font-weight: lighter;
}

.footer__three {
  padding-bottom: 20px;
  max-width: 255px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 1.5rem 1.5rem 0;
  }
  .footer h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .footer h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .footer h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .footer h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .footer h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .footer__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__icon {
    padding-right: 4rem;
  }
  .footer__logo {
    display: unset;
  }
  .footer__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__three {
    max-width: unset;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin: auto 180px;
  }
  .footer h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .footer h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .footer h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .footer h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .footer h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .footer__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__heading--margin {
    margin: 0;
    padding: 3rem 0 3.5rem 0;
  }
  .footer__icon {
    margin-right: 25rem;
  }
  .footer__icon--margin {
    margin-right: 2rem;
  }
  .footer__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__tow-left {
    padding-right: 5rem;
  }
  .footer__tow-mid {
    padding-right: 5rem;
  }
}

.hero__image {
  background-image: url(../assets/concert-1.jpg);
  background-size: cover;
  background-position: center;
  height: 183px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__image-heading {
  color: white;
  margin: 0;
  width: 250px;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .hero__image {
    height: 400px;
    width: 100%;
  }
  .hero__image h1 {
    font-size: 60px;
    line-height: 68px;
  }
  .hero__image-heading {
    min-width: 500px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__image {
    height: 670px;
    width: 100%;
  }
  .hero__image h1 {
    font-size: 60px;
    line-height: 68px;
  }
  .hero__image-heading {
    min-width: 500px;
    margin-left: 180px;
  }
}

.main {
  font-weight: normal;
  background-color: #ffffff;
}

.main h1 {
  font-size: 24px;
  line-height: 32px;
}

.main h2 {
  font-size: 14px;
  line-height: 22px;
}

.main h4 {
  font-size: 13px;
  line-height: 18px;
}

.main p {
  font-size: 13px;
  line-height: 18px;
}

.main h5 {
  font-size: 12px;
  line-height: 20px;
}

.main__heading {
  margin: 2rem 0 1.5rem 1rem;
}

.main .about {
  margin: auto 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .about__quote {
  margin: 1.5rem 0 2rem 0;
}

.main .about__artist {
  margin: 0 0 2.5rem 0;
}

.main .about__both-artist {
  margin: 0 0 0.7rem 0;
}

.main .about__image {
  width: 100%;
  height: 183px;
}

.main .about__bottom {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 768px) {
  .main h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .main h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .main h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .main h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .main h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .main__heading {
    margin: 2rem 0 1.5rem 1.5rem;
  }
  .main .about {
    margin: auto 1.5rem;
  }
  .main .about__image {
    width: 100%;
    height: 362px;
  }
  .main .about__para {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .about__para-two {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .main h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .main h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .main h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .main h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .main h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .main__heading {
    margin: 3rem 0 3rem 11.25rem;
  }
  .main .about {
    margin: auto 17rem;
  }
  .main .about__image {
    width: 100%;
    height: 28.13rem;
  }
  .main .about__quote {
    margin: 3rem 0 2.5rem 0;
  }
  .main .about__artist {
    margin: 0 0 3.5rem 0;
  }
  .main .about__both-artist {
    margin: 0 0 1.2rem 0;
  }
  .main .about__para-one {
    margin-bottom: 3rem;
  }
}

.main .gallery {
  background-color: #fafafa;
  font-weight: bold;
}

.main .gallery__album {
  margin: 0 16px 24px;
}

.main .gallery__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .gallery__photos-size {
  width: 100%;
  height: 183px;
  margin-bottom: 1rem;
}

.main .gallery__heading {
  margin: 0;
  font-weight: bold;
  padding: 2rem 0 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .main .gallery h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .main .gallery h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .main .gallery h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .main .gallery h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .main .gallery h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .main .gallery__album {
    margin: 0;
  }
  .main .gallery__photos {
    margin: auto 1.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .gallery__photos-size {
    width: 224px;
    height: 126px;
    margin-bottom: 1.5rem;
  }
  .main .gallery__heading {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .main .gallery h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .main .gallery h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .main .gallery h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .main .gallery h4 {
    font-size: 14px;
    line-height: 22px;
  }
  .main .gallery h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .main .gallery__heading {
    margin-left: 11.25rem;
    padding: 3rem 0 4rem;
  }
  .main .gallery__photos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 11.25rem 1rem;
  }
  .main .gallery__photos-size {
    width: 21.5rem;
    height: 12.06rem;
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */